/*"Home Page" section*/
body.home{
    background-image:  url(https://steamuserimages-a.akamaihd.net/ugc/38620959927449373/E3A1E1B94F77BB6CAD6635FCFF9542A762CDF795/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.glow {
    font-size: 150px;
    color: #9932CC;
    text-align:center;
    animation: glow 1s ease-in-out infinite alternate;
    }
    
    @-webkit-keyframes glow {
         from {
                 text-shadow: 0 0 10px #9932CC, 0 0 20px #9932CC, 0 0 30px#9932CC , 0 0 40px #9932CC, 0 0 50px #9932CC, 0 0 60px #9932CC, 0 0 70px #9932CC;
         }
      
         to {
           text-shadow: 0 0 20px #9932CC, 0 0 30px #9932CC, 0 0 40px #9932CC, 0 0 50px #9932CC, 0 0 60px #9932CC, 0 0 70px #9932CC, 0 0 80px #9932CC;
         }
}

div.homebio {
    width: 800px;
    margin: auto;
    border: 3px solid #9400D3;
    color:white;
    font-size:40px;
    text-align:center;
}

div.homepicturegallery {
    float: left;
    width: 300px;
    margin: auto;
    border: 3px solid #7CFC00;
    color:white;
    font-size:40px;
    text-align:center;
}

button.morepicturesbutton{
    color:purple;
    font-size:20px;
    background-color:darkgrey;
    height:30px;
    width:150px;
}

button.morepicturesbutton:hover{
    color:purple;
    background-color:grey;
    height:30px;
    width:150px;
}

a.morepictureslink:hover{
    color:lightcoral;
}

button.cinemabutton{
    color:purple;
    font-size:20px;
    background-color:darkgrey;
    height:30px;
    width:100px;
}

button.cinemabutton:hover{
    color:purple;
    background-color:grey;
    height:30px;
    width:100px;
}

div.homeyoutube {
    float: left;
    width: 300px;
    margin: auto;
    border: 3px solid #FF0000;
    color:white;
    text-align:center;
    font-size:40px;
}

div.homemedia {
    float: left;
    width: 300px;
    margin: auto;
    border: 3px solid #FAF0E6;
    color:white;
    font-size: 40px;
    text-align:center;
}
 
div.homemusic {
    float:left;
    width:300px;
    margin:auto;
    border: 3px solid orange;
    color:white;
    font-size: 40px;
    text-align:center;
}
  
img.musicicon{
    height:125px;
    width: 125px;
}

button.pnotesbutton{
    color:purple;
    background-color:lightgrey;
}

button.pnotesbutton:hover{
    color:purple;
    background-color:grey;
}



/*"Picture Gallery" section */
body.gallery {
    background-image: url(https://steamuserimages-a.akamaihd.net/ugc/1774951538400993212/E445F969AEA82627FB9A6922B8D8E48F4DC5471C/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
}

div.picgallery{
    border:10px solid grey;
    float:center;
    height:150px;
    width:1000px;
    margin:auto;
    font-family:'Times New Roman', Times, serif;
    font-size:100px;
    background-color:green;
    color:white;
    text-align:center;
}

table.pictures, td, th{
    border-collapse:collapse;
    border:10px solid grey;
    width:700px;
    height:400px;
    margin:auto;
    text-align:center;
    background-color:green;
}


/*"Patch Notes" section*/
body.pnotes {
    background-color:grey;
}

h1.pnotesheader {
    font-family:'Times New Roman', Times, serif;
    font-size:100px;
    text-align:center;
} 

p.pnotesred {
    font-family:'Times New Roman', Times, serif;
    font-size:40px;
    color:red;
}

p.pnotesblack {
    font-family:'Times New Roman', Times, serif;
    font-size:30px;
}



/*"Cinema" section*/
body.cinema{
    background-image: url('/home/jacksonz/Pictures/images/cinema1.png');
    background-attachment: fixed;
    background-size: cover;
}

h1.cinemaheader{
    font-family:'Times New Roman', Times, serif;
    font-size:100px;
    text-align:center;
    color:white;
}





/*"Music" section*/

body.sirzenimusic {
    background-color:tan;
}

h1.musicheader{
    color: black;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
    font-size: 100px;
}

h2.myguitar{
    color:black;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
    font-size:50px;
}

img.zeniguitar {
    height:600px;
    width: 425px;
    display:block;
    margin:auto;
}

h3.downloadcontent{
    color:black;
    text-align:left;
    font-family:'Times New Roman', Times, serif;
    font-size:50px;
}

div.songboxes{
    float:left;
    margin:100px;
    border:transparent;
    height:200px;
    width:400px;
}

audio.control{
    text-align:center;
}
p.nationalanthem{
    text-align:center;

}

p.unnamed1{
    text-align:center
}

p.unnamed2{
    text-align:center;
}

p.unnamed3{
    text-align:center;
}

a.songdownload{
    text-align:center;
}

a.songdownload:hover{
    color:green;
}